/* #dropdown-id{
    position: relative;
}

.dropdown{
    display: none;
    background-color: rgba(0, 0, 0, 0.76);
    width: 100px;
    position: absolute;
    top: 19px;
    left: -30px;
    text-align: center;
}
.dropdown li{
    padding: 8px 0 2px 2px;
}
#dropdown-id:hover .dropdown{
    display: block;
    transition: 1s ease-in-out;
}
#dropdown-id{
    position: relative;
}
#dropdown img{
    position: absolute;
    float: right;
    margin: 4px 0 0 2px;
} */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* .dropdown {
    position: relative;
    display: inline-block;
  } */
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content>li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropbtn:hover .dropdown-content {display: block;}
  
  /* .dropbtn:hover .dropbtn {background-color: #3e8e41;} */